@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(90deg, rgba(36,0,0,1) 0%, rgba(121,9,9,1) 20%, rgba(255,0,0,1) 100%);
    color: hsl(53, 85%, 79%);
    text-shadow: 0 0 7px rgb(255, 195, 181);
}
.flex{
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.board {
    height: 500px;
    width: 500px;
    display: grid;
    background-color: white;
    box-shadow: inset -3em 3em rgba(0, 0, 0, 0.1), 0 0 0 2px rgb(255, 255, 255),
        0.3em 0.3em 1em rgba (0, 0, 0, 0.3);
}
.board:hover {
    cursor: pointer;
}
.content{
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 300px;
    min-height: 300px;
    width: 60vw;
    height: 60vw;
    max-width: 600px;
    max-height: 600px;
}
.title {
    display: flex;
    justify-content: center;
}
.buttons {
    margin-top: 10px;
    margin-bottom: 10px;
}
button {
    padding: 0.3em 1.2em;
    margin: 0 0.3em 0.3em 0;
    border-radius: 2em;
    text-decoration: none;
    font-weight: 600;
    text-align: center;
    transition: all 0.2s;
}
button:hover {
    cursor: pointer;
}
.blackButton {
    background-color: black;
    color: white;
}
.blackButton:hover {
    cursor:pointer;
}
.grayButton {
    background-color: gray;
    color: white;
}
.grayButton:hover {
    cursor:pointer;
}
.randomButton {
    background: linear-gradient(to right, red, orange, green, blue, indigo, violet);
    color: white;
}
.randomButton:hover {
    cursor:pointer;
}
.eraserButton {
    background-color: pink;
    color: black;
}
.eraserButton:hover {
    cursor:pointer;
}
input {
    width: 50px;
}
.mode {
    margin-bottom: 5px;
}
.error{
    display: none;
}
footer {
    color: #f9faf8;
    background-color: #000000;
    font-size: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin-top: 10px;
    padding: 7px;
  }
  a {
    color:#ffef74;
    text-decoration: none;
  }

